:root {
  --primary-dark: #111111;
  --accent-color: #ffc107;
}

.app {
  background-color: var(--primary-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #eeeeee !important;
}

.navbar__bg {
  background-color: #000000 !important;
}

nav .navbar--brand {
  color: var(--accent-color) !important;
}

.btn {
  color: var(--accent-color) !important;
  border-color: var(--accent-color) !important;
}

.btn:hover {
  color: var(--primary-dark) !important;
  background-color: var(--accent-color) !important;
}

footer {
  background-color: #000000;
  color: #eeeeee;
  padding: 24px 0;
  width: 100%;
  text-align: center;
}

.search-box__container {
  position: relative;
}

.search-box__input {
  width: 500px !important;
}

.search-result__container {
  background-color: var(--primary-dark);
  box-shadow: 0px 3px 18px 0px #000000;
  max-height: 500px;
  overflow: auto;
  position: absolute;
  top: 48px;
  left: 0;
  z-index: 999;
  width: 500px;
}

.search-result {
  display: flex;
  align-items: flex-start;
  border-bottom: 2px solid #333333;
  padding: 1rem;
}
.search-result:hover {
  cursor: pointer;
}

.movie__catalog {
  display: flex;
  overflow: auto;
  margin-bottom: 3rem;
}

::-webkit-scrollbar {
  height: 6px;
  width: 12px;
}
::-webkit-scrollbar-thumb:vertical {
  background-color: #eeeeee !important;
}
::-webkit-scrollbar-thumb:horizontal {
  border-radius: 6px;
  background-color: #eeeeee !important;
}
::-webkit-scrollbar-track {
  background-color: #000 !important;
}

.movie__card {
  background-color: var(--primary-dark) !important;
  border: none !important;
  margin: 16px 0;
  margin-right: 16px;
  box-shadow: 0px 3px 18px 0px #000000;
  min-width: 16rem !important;
  position: relative;
  overflow: hidden;
}

.movie__card:hover {
  cursor: pointer;
}

.movie__overview {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #111111;
  font-size: 16px !important;
  font-weight: 300;
  overflow: auto;
  max-height: 100%;
  padding: 1rem;
  transform: translateY(100%);
}

.movie__card:hover .movie__overview {
  transform: translateY(0%);
  transition: transform 0.3s ease-in-out;
}

.movie__card--body {
  background-color: var(--primary-dark);
  color: #ffffff;
}

.movie__title {
  font-size: 16px;
  font-weight: 600;
}

.movie__rating {
  color: var(--accent-color);
  background-color: #000;
  font-size: 16px;
  font-weight: 600;
  padding: 6px 9px;
}

.movie-detail__image {
  box-shadow: 0px 3px 6px 1px #000000;
}

.movie-detail__title {
  color: var(--accent-color) !important;
}

.movie-detail__rating {
  padding: 6px 12px;
  font-size: 1.5rem;
  color: #000;
}

.movie-detail__vote-count {
  font-size: 1rem;
  color: #eeeeee;
}

.list-group-item {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 3px;
  color: #eeeeee !important;
  margin-bottom: 3px;
}

.list-group-item .key__col {
  color: #cccccc;
  font-weight: 600;
}

.list-group-item .value__col {
  color: var(--accent-color);
}

.back__button {
  color: #eeeeee !important;
  background-color: #000000 !important;
  border: none !important;
  padding: 0.75rem 1.5rem !important;
}

.back__button:hover {
  background-color: #0a0a0a !important;
  color: #ffffff !important;
}
